.page-header {
    color: red;
    background-color: black;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}